.forecast-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.forecast-item-container h6 {
  font-weight: 600;
  font-size: 1.125rem;
  color: #4581c5;
}

.forecast-item-container svg {
  width: 4rem;
  height: 4rem;
  margin: 0.7rem 0;
}

.forecast-item-container p {
  font-weight: 600;
  font-size: 1.125rem;
  color: #4a6fa1;
}

.forecast-item-container span {
  font-size: 1.125rem;
  color: #4a6fa1;
  width: 5rem;
  text-align: center;
}

.forecast-container {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 1.5rem 2rem;
  overflow: hidden;
  margin-bottom: 60px;
}

.forecast-section-title {
  font-weight: 500;
  font-size: 1.125rem;
  color: rgb(114, 126, 142);
}

.forecast-items {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.forecast-items > :last-child {
  margin-right: 0;
}
